# Ignore swap and zip files
*.swp
*.zip

# Ignore vagrant cache directory
.vagrant/

# ignore other git repos
nkr-index/
nkr-harvester/
nkr-proxy/

# ansible retry-file
ansible/*.retry

ubuntu*.log
local_settings.py

ansible/inventories/test/group_vars/*
!ansible/inventories/test/group_vars/all
ansible/inventories/test/host_vars
ansible/inventories/stable/group_vars/*
!ansible/inventories/stable/group_vars/all
ansible/inventories/stable/host_vars
ansible/inventories/production

ansible/group_vars/*
!ansible/group_vars/all
ansible/files/
ansible/roles/ansible-role-java/
ansible/roles/ansible-role-solr/

*.pem
*.tar.gz
__pycache__
.idea

# Mac stuff
.DS_Store
