# Ignore swap and zip files
*.swp
*.zip

# Ignore vagrant cache directory
.vagrant/

# ignore other git repos
nkr-index/
RecordManager/
nkr-proxy/

# ansible retry-file
ansible/*.retry

ubuntu*.log
local_settings.py

ansible/files/
ansible/secrets/*
!ansible/secrets/local_development.yml
!ansible/secrets/template.yml
ansible/roles/ansible-role-java/
ansible/roles/ansible-zookeeper/

ansible/inventories/production/

*.pem
*.tar.gz
__pycache__
.idea

# Mac stuff
.DS_Store
